.white-text {
  color: #fafaf6 !important;
}

.light-white-text {
  color: #fafaf6c7;
}

.black-text {
  color: #505050;
}

.primary-color {
  color: #0d47a1;
}

.white-bkg {
  background-color: #fafaf6;
}

.skill-color {
  background-color: #00d1ff;
}

a {
  color: #fafaf6;
}
a:hover {
  color: #505050;
  text-decoration: none;
}
