* {
  font-family: "Karla", Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #0d47a1;
}

.padded {
  padding-left: 15rem;
  padding-right: 15rem;
}

.no-pad {
  padding: 0;
}

.no-marg {
  margin: 0;
}

.call-to-action {
  margin: 0;
  font-size: 0.8867rem;
}

.cta-btn {
  padding: 10px 20px;
  border-radius: 0;
  margin: 10px 0;
}

html {
  background-color: #0d47a1;
}

.nav-ul {
  list-style: none;
  display: flex;
  flex: 1;
  justify-content: space-evenly;
}

.nav-ul li {
  font-size: 1.272rem;
  /* margin-right: 3rem; */
  color: #fafaf6;
}

.nav-header {
  display: flex;
  justify-content: space-around;
  padding-top: 2rem;
}

.logo {
  color: #fafaf6;
  font-size: 2rem;
  flex: 0.5;
}

.intro {
  padding-top: 5rem;
  padding-bottom: 1rem;
}

.intro-text {
  display: flex;
  align-items: center;
}

.web-dev-svg {
  flex: 1;
  display: flex;
}

.about-me {
  padding-bottom: 10rem;
}

/* Delete */
.highlight {
  background-color: red;
}

.skill-container {
  padding: 3rem 0;
}

.svg-img {
  width: 100%;
  height: auto;
}

.skill-title {
  display: flex;
  align-items: center;
}

.skill-progress {
  margin: 1rem 0;
  background: white;
  height: 8px;
  width: 80%;
  /* margin: 0; */
  border-radius: 5px;
  position: relative;
}

.skill-inner-progress {
  position: absolute;
  top: 0;
  left: 0;
  background: red;
  height: 8px;
  border-radius: 5px;
}

.single-skill {
  margin-bottom: 2rem;
}

#skill-svg {
  display: flex;
  margin: auto;
  width: 80%;
}

.portfolio-logo-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 3rem 0;
}

.mobile-design-img {
  display: flex;
  padding: 5rem 0 0 0;
  justify-content: space-evenly;
}

#future-missions {
  padding-bottom: 0;
}

.future-mission {
  display: flex;
  justify-content: space-evenly;
  padding-top: 7rem;
}

.future-list {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 100%;
}
.future-single {
  display: flex;
}
.future-single p {
  margin: 0;
  margin-left: 20px;
}

footer {
  background-color: #06214c;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.footer-icons {
  width: 30%;
  margin: auto;
  display: flex;
  justify-content: space-around;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  #intro-section {
    padding-top: 1rem;
  }
  .nav-header {
    display: flex;
    justify-content: flex-end;
  }
  .cta-btn {
    display: flex;
    width: 50%;
    /* margin: auto; */
    margin-top: 3rem;
    margin-bottom: 1rem;
    margin-left: 0;
  }
  .intro-text {
    text-align: center;
  }
  .call-to-action {
    width: 100%;
  }
  .about-img {
    display: block;
    width: 80%;
    margin: auto;
    margin-bottom: 4rem;
  }
  .future-mission .my-photo {
    display: flex;
    margin: auto;
  }
  .mobile-design-img {
    flex-direction: column;
  }
  .future-list {
    padding: 3rem 0;
  }
  .future-mission {
    flex-direction: column-reverse;
    padding-top: 2rem;
  }
  .future-single {
    margin-bottom: 2rem;
  }
  .portfolio-logo-container {
    flex-direction: column;
  }
  .logo-single {
    margin: 3rem 0;
    display: flex;
    justify-content: center;
  }
  #skill-svg {
    width: 80%;
  }
  .skill-progress {
    width: 100%;
  }

  .padded {
    padding-left: 1rem;
    padding-right: 1rem;
  }
  .intro-text {
    padding-top: 4rem;
    padding-bottom: 1rem;
    text-align: left;
  }

  .web-dev-svg {
    padding: 0 3rem;
  }

  .svg-padding {
    padding: 0 3rem;
  }
  .about-me {
    padding-bottom: 4rem;
  }
  .about-me h5 {
    text-align: justify;
  }
  .about-me h2 {
    text-align: left;
  }
  .skill-container {
    padding: 3rem 0;
  }
  .footer-icons {
    flex-direction: column;
  }
  .footer-icons a {
    padding-top: 1rem;
    margin: auto;
    display: flex;
    align-items: center;
  }
  footer {
    padding: 0;
    padding-bottom: 1rem;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) and (max-width: 767px) {
  .padded {
    padding-left: 3rem;
    padding-right: 3rem;
  }
  .nav-header {
    display: flex;
    justify-content: flex-end;
  }
  .intro-text {
    margin-top: 4rem;
    margin-bottom: 1rem;
  }
  .about-img {
    width: 80%;
    margin: auto;
    display: flex;
  }
  .portfolio-logo-container {
    flex-direction: column;
  }
  .logo-single {
    margin: 3rem 0;
    display: flex;
    justify-content: center;
  }
  .mobile-design-img {
    flex-direction: column;
  }
  .skill-progress {
    width: 100%;
  }
  .future-list {
    padding: 3rem 0;
  }
  .future-mission {
    flex-direction: column-reverse;
    padding-top: 2rem;
  }
  .future-single {
    margin-bottom: 2rem;
  }
  .future-mission .my-photo {
    display: flex;
    margin: auto;
  }
  .footer-icons {
    width: 100%;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .padded {
    padding-left: 2rem;
    padding-right: 2rem;
  }
  .mobile-design-img {
    flex-direction: column;
  }
  .mobile-design-img img {
    object-fit: contain;
  }
  .tab-remove {
    display: none;
  }
  .about-img {
    width: 95%;
  }
  .about-me {
    padding-bottom: 4rem;
  }
  .portfolio-logo-container {
    padding: 0;
  }
  .future-mission {
    flex-direction: row;
    padding-top: 4rem;
  }
  .future-list {
    padding: 0;
  }
  .footer-icons {
    width: 50%;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) and (max-width: 1200px) {
  .padded {
    padding-left: 7rem;
    padding-right: 7rem;
  }
  .logo {
    flex: 0.3;
  }
}

@media only screen and (min-width: 1500px) {
  .padded {
    padding-left: 15rem;
    padding-right: 15rem;
  }
}

@media only screen and (min-width: 2000px) {
  .padded {
    padding-left: 30rem;
    padding-right: 30rem;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 2500px) {
  .padded {
    padding-left: 40rem;
    padding-right: 40rem;
  }
  .about-img {
    width: 70%;
  }
  #skill-svg {
    width: 60%;
  }
}
